<a href="https://colab.research.google.com/github/Macostik/ML_course/blob/main/hw_pandas_ukr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br>

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнє завдання № 1 (демо).<br> Аналіз даних доходів населення UCI Adult</center>

**В завданні пропонується за допомогою Pandas дати відповідь на кілька запитань по даним репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult).**

Унікальні значення ознак:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків и жінок (ознака *sex*) представлено в цьому наборі даних?**

In [ ]:
# Get the type of people by 'sex' column
gender_values = data['sex'].value_counts()
gender_values
print("Чоловіків: ", gender_values['Male'])
print("Жiнок: ", gender_values['Female'])

Чоловіків:  21790
Жiнок:  10771

**2. Який середній вік (ознака *age*) жінок?**

In [ ]:
# Get sex of people equal 'Female'
# Get age of all female
# Get mean value of female age
avg_age = data[data['sex'] == 'Female']['age'].mean()
print("Cередній вік жiнок: ", avg_age)

Cередній вік жiнок:  36.85823043357163

**3. Яка доля громадян Німеччини (ознака *native-country*)?**

In [ ]:
# Get all countries count
total_count = data['native-country'].count()
# Get total counts of Germany
germany_count = data['native-country'].value_counts().loc['Germany']
# Get value of Germany
germany_share = germany_count / total_count * 100

print(f"Доля громадян Німеччини: {germany_share:.2f}%")

Доля громадян Німеччини: 0.42%

**4-5. Які средні значення та средньоквадратичні відхилення віку тих, хто отримує більше 50K на рік (ознака *salary*) і тих, хто отримує менше 50K на рік?**

In [ ]:
# Group by salary
# Select by age
# Aggregate by mean and standard deviation
mean_std_values = data.groupby('salary')['age'].agg(['mean', 'std'])
more_50_salary = mean_std_values.iloc[0, :]
less_50_salary = mean_std_values.iloc[1, :]
print("Cредні значення:", more_50_salary.iloc[0], \
      "та средньоквадратичні відхилення віку:", more_50_salary.iloc[1], \
      "людей якi отрмують бiльшe 50k на рik" )
print("Cредні значення:", less_50_salary.iloc[0], \
      "та средньоквадратичні відхилення віку:", less_50_salary.iloc[1], \
      "людей якi отрмують меньш 50k на рik" )

Cредні значення: 36.78373786407767 та средньоквадратичні відхилення віку: 14.020088490824866 людей якi отрмують бiльшe 50k на рik
Cредні значення: 44.24984058155847 та средньоквадратичні відхилення віку: 10.519027719851843 людей якi отрмують меньш 50k на рik

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [ ]:
# Create list of higheducation
hl_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
# Get people with a salary of more than 50K and their education
# Check if education is a high-level
is_true = ~data[data['salary'] == '>50K']['education'].isin(hl_education).any()
print("Люди, які отримують більше 50k, мають як мінімум вищу освіту -", is_true)

Люди, які отримують більше 50k, мають як мінімум вищу освіту - False

**7. Порахуйте статистику віку для кожної раси (ознака *race*) і кожної статі. Використайте *groupby* и *describe*. Знайдіть таким сином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [ ]:
# Get age info by race column and sex
ages_values = data.groupby(['race', 'sex'])['age'].describe()
# Get max age value for mer-Indian-Eskimo.
max_age_men_AIE_value = ages_values['max'].loc['Amer-Indian-Eskimo']['Male']
print("Mаксимальний вік чоловіків раси Amer-Indian-Eskimo: ", max_age_men_AIE_value, "poки")

Mаксимальний вік чоловіків раси Amer-Indian-Eskimo:  82.0 poки

**8. Серед кого більша доля багатіших (>50K): серед одружених чи не одружених чоловіків (ознака *marital-status*)? За одружених вважаємо тих, у кого *marital-status* починається із *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), всі інші - не одружені.**

In [ ]:
# Get all men
men_list = data[data['sex'] == 'Male'].copy()
# Add a new column for married men
men_list['is_married'] = data['marital-status'].str.startswith('Married')
# Filter men who salary more than 50k
reach_men_list = men_list[men_list['salary'] == ">50K"]
# Calculate men who is married and reach in proportion
reach_count = reach_men_list['is_married'].value_counts(normalize=True)
print("Доля багатiших серед одружених чоловiкiв: ", reach_count.values[0],
      "\nДоля багатiших серед не одружених чоловiкiв:", reach_count.values[1])

Доля багатiших серед одружених чоловiкiв:  0.8953767637346143
Доля багатiших серед не одружених чоловiкiв: 0.10462323626538576

**9. Яку максимальну кількість годин в тиждень працює людина (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який відсоток серед них багатих?**

In [ ]:
# Get all workers
hours_per_week = data['hours-per-week']
# Get max hours per week
max_hour = hours_per_week.max()
# Get the most hard worker count per week
hardworkers_count = hours_per_week[hours_per_week == max_hour].count()
# Filter the most hard worker and who has salary more than 50K
rich_count = data[(data['hours-per-week'] == max_hour) & (data['salary'] == '>50K')].shape[0]
# Calculate percentage of rich people who hard work the most
rich_percentage = (rich_count / hardworkers_count) * 100
print(max_hour, "максимальну кількість годин в тиждень працює людина")
print(hardworkers_count, "людей працюють таку кількість годин")
print(rich_percentage, "відсоток серед них багатих")

99 максимальну кількість годин в тиждень працює людина
85 людей працюють таку кількість годин
29.411764705882355 відсоток серед них багатих

**10. Порахуйте середню тривалість роботи на тиждень (*hours-per-week*) серед багатих і бідних (*salary*) для кожної країни (*native-country*).**

In [ ]:
# Replace empty country with 'No name country'
data['native-country'] = data['native-country'].replace('?', 'No name country')
# Combine country and salary and separate by hours per week
average_hours_per_country_salary = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()
print("Середня тривалість роботи на тиждень для кожної країни та рівня доходу:\n", average_hours_per_country_salary.head)

Середня тривалість роботи на тиждень для кожної країни та рівня доходу:
 <bound method NDFrame.head of native-country  salary
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                >50K      45.641026
China           <=50K     37.381818
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64>